.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 230px;
  background-color: #F5F5F5;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 40px;
  width: 400px;
}

.form-title {
  color: #0077B6;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.form-input1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.form-label {
  color: #6C757D;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-control {
  border: 1px solid #CED4DA;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 3px 1px #C7C7C7;
}

.form-control:invalid {
  border-color: #F44336;
}

.form-text {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.form-link {
  color: #0077B6;
  font-weight: bold;
  text-decoration: none;
}

.form-button {
  background-color: #0077B6;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #006699;
}

.google-signup-button {
  width: 100%;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #DB4437;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 10px;
}

.google-signup-button:hover {
  background-color: #CC392E;
}
